{% extends 'admin/base.html' %}

{% block head %}
  {{ super() }}
  <!-- Uploadcare widget script -->
  <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
  <script>
  var publicKey = "{{ UPLOADCARE_PUBLIC_KEY }}";
  document.addEventListener("DOMContentLoaded", function() {
    var inputs = document.querySelectorAll("[role=uploadcare-uploader], .uploadcare-uploader");
    inputs.forEach(function(input) {
      input.setAttribute("data-public-key", publicKey);
      uploadcare.Widget(input);
    });
  });
</script>
{% endblock %}
