<!-- Listing Preview Modal -->
<div class="modal fade" id="listingPreviewModal" tabindex="-1" aria-labelledby="listingPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listingPreviewModalLabel">Listing Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="listing-preview-content">
                    <img id="listing-preview-image" src="" alt="Listing Image" class="img-fluid mb-3">
                    <h5 id="listing-preview-name"></h5>
                    <p id="listing-preview-description"></p>
                    <ul id="listing-preview-tags" class="list-inline"></ul>
                    <ul id="listing-preview-bullets" class="list-group list-group-flush"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Listing Preview Modal -->
